.shortcut-links{
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.side-link {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    border: 0;
    border-radius: 10px;
    padding: 0 14px 0 10px;
    margin-left: 1px;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
}

.side-link p {
    width: 132px;
}

.side-link:hover {
    background: #f2f2f2;
}

.side-link img {
    width: 24px;
    margin-right: 20px;
}

.side-link img, .side-link p{
    margin-top: 3px;
}

.sidebar .small-side-link {
    display: none;
}

.side-link.active img{
    padding-bottom: 2px;
    border-bottom: 3px solid red;
}
