.feed {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 24px;
}

.card {
    min-width: 470px;
    border-radius: 15px;
    text-decoration: none;
    padding-bottom: 12px;
    cursor: pointer;
}

.card:hover {
    outline: 12px solid #cccccc;
    background:#cccccc;
    transition: 0.4s ease;
    border-radius: 10px;
}

.card .video {
    padding-bottom: 10px;
}

.card img {
    width: 100%;
    border-radius: 15px;
}

.card h2 {
    font-size: 16px;
    font-weight: 500;
    padding-right: 24px;
    color: #000;
}

.card h3 {
    font-size: 14px;
    font-weight: 500;
    color: #555;
    margin-top: 2px;
}

.card p {
    margin-top: 2px;
    font-size: 14px;
}

.video-info {
    display: flex;
}
.video-info .options{
    height: 40px;
    width: 40px;
    padding: 8px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    cursor: pointer;
}
.video-info .options:hover{
    background: #bfbfbf;
}
.video-info .options{
    margin-top: -6px;
    margin-left: auto;
}


.video-info-left {
    margin-right: 12px;
}

.video-info-left img {
    width: 36px;
    border-radius: 20px;
    margin: 3px 2px 2px;
}
