.play-video {
    margin-top: 45px;
    width: 100%;
}

.play-video h3 {
    font-size: 20px;
    margin-top: 8px;
}

.play-video iframe {
    width: 100%;
    height: 39vw;
    border-radius: 13px;
}

.play-video-info {
    height: 44px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.play-video h3 {
    width: 100%;
}

.channel-info {
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-side {
    display: flex;
    font-weight: 500;
}

.left-side .btn {
    height: 40px;
    padding: 10px 15px;
    border-radius: 20px;
    margin-right: 8px;
    border: none;
    border-top: 1px solid #ebebeb;
    font-size: 14px;
    font-weight: 500;
}

.join-btn {
    background: #f2f2f2;
    color: #0e0e0e;
}

.join-btn:hover {
    background: #e0e0e0;
}

.subs-btn {
    background: #111111;
    color: #f1f1f1;
}

.logo {
    padding-right: 12px;
}

.logo img {
    height: 40px;
    border-radius: 25px;
}

.channel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 24px;
    line-height: 1.4;
    font-size: 16px;
}

.channel img {
    width: 14px;
}

.channel-name {
    color: #0e0e0e;
}

.channel-subs {
    font-size: 12px;
    color: #606060;
    margin-right: 4px;
}

.right-side {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.right-side .rs {
    height: 40px;
    display: flex;
    align-items: center;
    margin-right: 8px;
    border-top: 1px solid #ebebeb;
    border-radius: 20px;
    padding: 6px 12px;
    font-size: 14px;
    background: #f2f2f2;
}

.right-side .rs:hover {
    background: #e0e0e0;
}

.right-side .like {
    border-radius: 20px 0 0 20px;
    border-right: 1px solid #c6c6c6;
    margin-right: 0;
}

.right-side .dislike {
    border-radius: 0 20px 20px 0;
}

.right-side .threedots {
    padding: 8px;
}

.right-side .threedots img {
    padding: 0;
    height: 24px;
    width: 24px;
}

.right-side img {
    height: 24px;
    padding-right: 5px;
}

.channel-expand-info {
    height: fit-content;
    width: 100%;
    background: #f2f2f2;
    width: 100%;
    margin: 12px 12px 0 0;
    padding: 12px;
    border-radius: 10px;
}

.ce-video-meta {
    display: flex;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.ce-vid-description {
    font-size: 14px;
    line-height: 1.5;
}

.comments {
    width: 100%;
    height: fit-content;
    margin: 24px 0 32px;
}

.comment-head {
    height: 28px;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.comment-head h3 {
    margin: 0;
}

.comment-head .sort {
    height: 24px;
    font-size: 15px;
    font-weight: 600;
    color: #0e0e0e;
    display: flex;
    align-items: center;
    width: 115px;
    white-space: nowrap;
}

.comment-head .sort img {
    height: 22px;
    margin-right: 8px;
}

.comments .cmt-profile {
    display: flex;
}

.cmt-profile span img {
    height: 24px;
    margin-right: 10px;
}

.cmt-profile input {
    height: 25px;
    width: calc(100% - 50px);
    color: #606060;
    border: none;
    outline: none;
    border-bottom: 1px solid #cccccc;
}

.cmt-profile-clicked .cmt-as {
    font-size: 14px;
    margin-bottom: 8px;
}

.cmt-profile-box {
    height: 38px;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 14px;
}

.cmt-profile-box-img {
    height: 36px;
}

.cmt-profile-box-info {
    margin: 0 20px 0 10px;
}

.cmt-profile-box-info p {
    height: 18px;
}

.cmt-edit {
    height: 38px;
    margin-left: 10px;
}

.cmt-edit img {
    margin-top: 11px;
    height: 21px;
}

.cmt-input {
    min-height: 25px;
    border-bottom: 1px solid #cccccc;
    width: calc(100% - 20px);
}

.cmt-input input {
    height: 20px;
    width: calc(100% - 20px);
    border: none;
    outline: none;
    font-size: 14px;
}

.cmt-footer {
    height: 40px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.cmt-footer .emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -8.5px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.cmt-footer .emoji:hover {
    background: #cccccc;
}

.cmt-footer .emoji img {
    height: 24px;
}

.btns {
    display: flex;
    gap: 10px;
}

.btns button {
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background: none;
}

.cancel-btn {
    border-radius: 20px;
}

.comment-btn {
    border-radius: 20px;
    opacity: 0.5;
    background: #ececec;
}

.cancel-btn:hover {
    background: #cccccc;
}

.cc-left{
    position: relative;
}
.cc-pic {
    margin-right: 16px;
}

.cc-pic img {
    height: 36px;
    border-radius: 20px;
}

.cc-r-first {
    height: 20px;
    font-size: 12px;
}

.cc-user-name {
    margin-right: 4px;
    padding-bottom: 2px;
    font-weight: 500;
}

.cc-time {
    color: #606060;
}

.cc-time:hover {
    color: #000;
}

.cc-comment {
    min-height: 20px;
    font-size: 14px;
}

.cc-btns {
    height: 32px;
    width: fit-content;
}

.cc-btns img {
    height: 16px;
}

.cc-btns .c-btn {
    height: 32px;
    border-radius: 20px;
}

.cc-btns .c-btn {
    display: flex;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 20px;
}

.cc-btns .c-btn button:hover {
    background: #cccccc;
}

.cc-btns button {
    background: none;
    border: none;
}

.like-btn {
    display: flex;
    align-items: center;
    margin-left: -8px;
    background: none;
}

.like-btn:hover,
.dislike-btn:hover {
    background: #cccccc;
}

.like-btn-span {
    color: #606060;
    margin-right: 8px;
    font-size: 12px;
}

.like-btn button {
    width: 16px;
    border-radius: 20px;
    background: none;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
}


.like-btn img {
    margin-left: 8px;
}

.dislike-btn {
    width: 32px;
}

.dislike-btn button {
    height: 32px;
    width: 32px;
    border-radius: 20px;
    position: relative;
}

.dislike-btn img {
    position: absolute;
    bottom: 8px;
    right: 8px;

}

.reply-btn button {
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-size: 12px;
    font-weight: 500;
    padding: 0 12px;
    border-radius: 20px;
    margin-left: 10px;
}

.comments-card {
    min-height: 78px;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    position: relative;
}
.c-line{
    position: absolute;
    left: 15px;
    min-height: 65px;
    height: calc(100% - 60px);
    width: 23px;
    background: transparent;;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-bottom-left-radius: 15px;
}
.cc-btns {
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.r-reply-btn {
    height: 40px;
    width: fit-content;
    display: flex;
    margin-left: -15px;
    margin-top: 12px;
    border-radius: 20px;
}

.r-reply-btn button {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: none;
}
.r-reply-btn button:hover{
    background: #cccccc;
}

.r-reply-btn button img {
    margin-left: 4px;
    height: 24px;
}

.r-reply-btn .r-reply-box {
    display: flex;
    font-size: 15px;
    font-weight: 500;
    gap: 2px;
}
.ce-vid-description{
    white-space: pre-line;
}

.ce-vid-description{
    height: 40px;
    overflow: hidden;
}
.ce-vid-description.expanded{
    height: auto;
}
.description-toggle{
    border: none;
    background: none;
    padding: 0;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}
.description-toggle.expanded{
    margin-top: 40px;
}
/* .ce-vid-description:hover{
    background: #eff4ff;
} */