.sidebar {
    height: calc(100vh - 56px);
    width: 240px;
    background: #fff;
    position: fixed;
    top: 55px;
    overflow-y: auto;
    flex-shrink: 0;
    box-sizing: border-box;
}


.side-link {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    border: 0;
    border-radius: 10px;
    padding: 0 14px 0 10px;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
}


.small-sidebar {
    width: 72px;
}

.small-sidebar .shortcut-links {
    padding: 0 4px;
    padding-top: 6px;
    border: none;
}

.small-sidebar .side-link {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 65px;
    margin-left: 0;
    padding: 16px 0;
}

.small-sidebar .side-link p {
    font-size: 10px;
    width: fit-content;
}

.small-sidebar .side-link img {
    margin: 0;
    margin-bottom: 6px;
}

.small-sidebar .subs,
.small-sidebar .you,
.small-sidebar .explore{
    display: none;
}

.small-sidebar .shortcut-links .small-side-link{
    display: flex;
}