.sidebar {
    height: calc(100vh - 56px);
    width: 240px;
    background: #fff;
    position: fixed;
    top: 56px;
    overflow-y: hidden;
    box-sizing: border-box;
}

.sidebar-content {
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.sidebar-inner {
    margin-top: -12px;
}

.side-link {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    border: 0;
    border-radius: 10px;
    padding: 0 14px 0 10px;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
}


.small-sidebar {
    width: 72px;
}

.small-sidebar .shortcut-links {
    padding: 0 4px;
    padding-top: 6px;
    border: none;
}

.small-sidebar .side-link {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 65px;
    margin-left: 0;
    padding: 16px 0;
}

.small-sidebar .side-link p {
    font-size: 10px;
    width: fit-content;
}

.small-sidebar .side-link img {
    margin: 0;
    margin-bottom: 6px;
}

.small-sidebar .big {
    display: none;
}


.small-sidebar .shortcut-links .small-side-link {
    display: flex;
}

.sidebar-content::-webkit-scrollbar {
    width: 0;
}

.sidebar-content:hover::-webkit-scrollbar {
    width: 6px;
}

.sidebar-content:hover::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .sidebar {
        width: 72px;
    }

    .sidebar .shortcut-links {
        padding: 0 4px;
        padding-top: 6px;
        border: none;
    }

    .sidebar .side-link {
        flex-direction: column;
        height: fit-content;
        width: 65px;
        margin-left: 0;
        padding: 16px 0;
    }

    .sidebar .side-link p {
        font-size: 10px;
        width: fit-content;
    }

    .sidebar .side-link img {
        margin: 0;
        margin-bottom: 6px;
    }

    .sidebar .big {
        display: none;
    }
    .sidebar .small-side-link{
        display: flex;
    }
    .sidebar .shortcut-links .small-side-link{
        display: flex;
    }
}

@media (max-width: 791px){
    .sidebar{
        display: none;
    }
}