.sidebar {
    height: 100vh;
    width: 12%;
    background: #fff;
    position: fixed;
    top: 55px;
}

.you {
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.side-link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 40px;
    width: fit-content;
    border: 0;
    border-radius: 10px;
    padding: 0 12px;
    padding-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

.you span {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #0e0e0e;
}

.small-sidebar {
    width: 5%;
}

.small-sidebar .shortcut-links {
    padding: 0 4px;
    padding-top: 4px;
    border: none;
}

.small-sidebar .side-link {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 65px;
    margin-left: 0;
    padding: 16px 0;
}

.small-sidebar .side-link p {
    font-size: 10px;
    width: fit-content;
}

.small-sidebar .side-link img {
    margin: 0;
    margin-bottom: 6px;
}

.small-sidebar .subs,
.small-sidebar .you {
    display: none;
}